.drtl{
  direction: rtl;
}
*{
  padding: 0;
  margin: 0;
}



:root{
  --yellow-color:rgb(240, 234, 75);

}

.bcYellow{
  background-color: var(--yellow-color);
}
.min-h100vh{
  min-height: 100vh;
}

.flex-col-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.flex-row-bet{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pageHeader{
  margin-bottom: 50px;
}