/* ../css/addStock.css */
.add-stock-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background: #fffef5;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 400px;
  margin: auto;
  font-family: 'Varela Round', sans-serif;
}

.add-stock-form h2 {
  text-align: center;
  color: #333;
}

.add-stock-form label {
  font-weight: bold;
  color: #555;
}

.add-stock-form select,
.add-stock-form input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.2s ease-in-out;
}

.add-stock-form select:focus,
.add-stock-form input:focus {
  border-color: #f5a623;
  outline: none;
}

.add-stock-form .add-btn {
  background-color: #f5a623;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s;
}

.add-stock-form .add-btn:hover {
  background-color: #d48806;
}
/* מצב פתוח וסגור */
.openWindow {
  display: block;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out;
  z-index: 999;
  height: 100vh;
  width: 100%;
  background-color: #555555ab;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
}

.closeWindow {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
  z-index: -1;
  position: absolute;
}


.bad{
  background-color: #e74c3c;
  color: white;
}