.sideNavBarController{
    height: 100vh;
    width: 200px;
    background-color: var(--yellow-color);
    position: fixed;
    right: 0;
    top: 0;

}
.space{
    width: 200px;
}
.sideNavLinkList{
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.sideNavLink{
    color: var(--yellow-color);
    text-decoration: none;
  
}

.linkHolder{
    min-height: 54px;
    width: 90%;
    background-color: black;
  border-radius: 20px;
    margin-top: 20px;

}